#p1 {
    position: absolute;
    top: 220px;
    left: 10%;
    width: 400px;
    text-align: left;
    color: white;
}

#p2 {
    position: absolute;
    top: 470px;
    left: 10%;
    width: 400px;
    text-align: left;
    color: white;
}
#p3 {
    position: absolute;
    top: 700px;
    left: 10%;
    width: 400px;
    text-align: left;
    color: white;
}


#comp {
    position: absolute;
    top: 220px;
    right: 10%;
    width: 30%;
}
#comp1 {
    position: absolute;
    top: 620px;
    right: 10%;
    width: 30%;
}

#h1 {
    position: absolute;
    top: 150px;
    left: 1%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue
}

#h2 {
    position: absolute;
    top: 410px;
    left : 0%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue
}
#h3 {
    position: absolute;
    top: 610px;
    left : 0%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue
}
